<!DOCTYPE html>
<html>
    <head>
       <title>Student Form </title>
    
    </head>
    <body>
        <p>Enter your Details</p>
        <form  action = '/succesview/' method = 'post'>
            {% csrf_token %}
            <label for="sname">Student name</label><br>
            <input type="text" id="sname" name="sname"><br>
            <label for="class">Class<br>
            <input type="text" id="class" name="class" ><br>
            <label for="roll_no">Roll no.<br>
            <input type="number" id="roll_no" name="roll_no" ><br><br>
            <button  type="submit"> submit</button>
          </form>
        
    </body>
</html>