<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit page</title>
</head>
<body>
    <h1>Edit & update Student datail</h1>
    <h2> the student id is  {{std.id}} </h2>
    <form method='post' action = "{% url 'update_detail' std.id %}">
    {% csrf_token %}
    <label for="sname">Student name</label><br>
    <input type="text" id="sname" name="sname" value = "{{std.Student_name}}"><br>
    <label for="class">Class<br>
    <input type="text" id="class" name="class" value = "{{std.Class}}" ><br>
    <label for="roll_no">Roll no.<br>
    <input type="number" id="roll_no" name="roll_no" value = "{{std.roll_no}}"><br><br>
    <button  type="submit"> update detail</button>
    <a href = "{% url 'form_list' %}"> List page </a>
    </form>
</body>
</html>